{% extends 'base.html' %}
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}

<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4">
                    Property Searching Just Got So Easy
                </h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores
                    eveniet vel nostrum magnam
                    voluptatum tempore! Consectetur, id commodi!</p>
                <div class="search">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">City</label>
                                <select name="city" class="form-control">
                                    <option selected="true" disabled="disabled">City (All)</option>
                                    {% for key, value in city_choices.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control"
                                    placeholder="Keyword (Pool, Garage, etc)">
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Category</label>
                                <select name="category" class="form-control">
                                    <option selected="true" disabled="disabled">Category (All)</option>
                                    {% for key, value in category_choices.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Listings -->
<section id="listings" class="py-5">
    <div class="container">
        <h3 class="text-center mb-3">Latest Listings</h3>
        <div class="row">

            {% if listings %}

            {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4" style="width: 18rem;">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                    <div class="listing-heading text-center">
                        <h4 class="text-primary">{{ listing.title }}</h4>
                        <p>
                            <i class="fas fa-map-marker text-secondary"></i> {{ listing.area }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Phone:</b> {{ listing.phone }}</li>
                        <li class="list-group-item">Email: {{ listing.email }}</li>
                        <li class="list-group-item">Address: {{ listing.address }}, {{ listing.state }},
                            {{ listing.zipcode }}
                        </li>
                        <li class="list-group-item">Added {{ listing.list_date | timesince }} ago</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class="col-md-12">
                <p>No Listings available !</p>
            </div>
            {% endif %}


            <!-- Listing 2 -->


            <!-- Listing 3 -->


        </div>
    </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-comment fa-4x mr-4"></i>
                <hr>
                <h3>Digital Marketing Solutions</h3>
                <p>Digital Marketing involves the promotion of products and services with the help of digital technologies. Primarily on the Internet, and likewise through display advertising, mobile phones or any other digital platforms.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home fa-4x mr-4"></i>
                <hr>
                <h3>Social Media Management</h3>
                <p>We provide industry standard social media manager for your business. All you have to do is sit back relax and watch your business grow. </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-suitcase fa-4x mr-4"></i>
                <hr>
                <h3>Business Coaching</h3>
                <p>Are you running your business or is your business running you? We'll help you figure that out with ease.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}